$name :

$msg.get("email.meetinghost.message") $name $msg.get("email.meetinginvitation.message") $meetingdate
$msg.get("email.meetinginithour.message") $meetinginithour $msg.get("email.meetingendhour.message") $meetingendhour
$msg.get("email.meetingsubject.message") $meetingsubject.

$msg.get("email.meetinganswer.message") 

$msg.get("email.meetinggreeting.message")







