<html>
<head>
<title>Add files</title>

<link rel="stylesheet" href="./themes/$userInfo.getTemplate()/stylesheet.css" type="text/css">
<script type="text/javascript" src="./javascript/general.js"></script>
<script type="text/JavaScript" src="./javascript/overlib/overlib.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/calendar.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/lang/calendar-en.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/calendar-setup.js"></script>
<link rel="stylesheet" href="./themes/default/calendar.css" type="text/css">

</head>
<body bgcolor="#FFFFFF" text="#000000"> 

#parse ("/vm/header.vm")
<script>
#macro (errorMarkup)
  #if ($errors.exist() )
    <ul>
    #foreach ($e in $errors.all )
      <img height="15" width="15" border="0" src="./themes/$userInfo.getTemplate()/icon_warning.gif" alt="" vspace="1" hspace="1">$e <br>
    #end
    </ul>
  #end
#end
</script>

<p><font color="#CC0000">#errorMarkup()</font></p>
<form method="POST" name="add" action="./files.do" enctype="multipart/form-data">
<div class=blockHeader>
<table class=title>
<tr><td>&nbsp;
#if ($!filesForm.operation == "applyUpdate")
   $msg.get("common.updateLabel")&nbsp;$msg.get("common.LinkedContent.name")</td>
#else
   $msg.get("common.addLabel")&nbsp;$msg.get("common.LinkedContent.name")</td>
#end
<td width="1%">&nbsp;&nbsp;&nbsp;</td></tr>
<tr>
<td class=blockForm colspan=2>
<div class=content>
<table cellspacing="0" cellpadding="0">
    <tr> 
      <th colspan="2">$msg.get("common.Details")</th>
    </tr>
    <tr class="odd"> 
      <td valign="top" class="leftvalue">* $msg.get("common.UpLoad") :</td>
      <td> 
        <input size="44" value="$!filesForm.theFile" style="width: 400px" name="theFile" maxlength="100" type="FILE">
      </td>
    </tr>
    <tr class="odd"> 
      <td valign="top" class="leftvalue">$msg.get("common.Comments") :</td>
      <td>
        <input size="44" value="$!filesForm.comments" rows="3" wrap="VIRTUAL" style="width: 400px; height: 50px;" name="comments" cols="43" maxlength="154">
      </td>
    </tr>
    <tr class="odd">
      <td valign="top" class="leftvalue">&nbsp;</td>
      <td>
        <input type="SUBMIT" value=$msg.get("common.save")>
      </td>
    </tr>
 </table></div>
 </td></tr></table></div>
  <input type="hidden" name="operation" value="$!filesForm.operation">
  <input type="hidden" name="project" value="$!filesForm.project">
  <input type="hidden" name="task" value="$!filesForm.task">
  <input type="hidden" name="id" value="$!filesForm.id">
  <input type="hidden" name="topics" value="$!topics">
</form>
#parse ("/vm/footer.vm")
</body>
</html>
