<html>
<head>
<title>¿Olvidó su contraseña?</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="./themes/default/stylesheet.css" type="text/css">
<SCRIPT src="./themes/swc.js" type=text/javascript></SCRIPT>
<script type="text/javascript" src="./javascript/general.js"></script>
<script type="text/JavaScript" src="./javascript/overlib/overlib.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/calendar.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/lang/calendar-en.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/calendar-setup.js"></script>
<link rel="stylesheet" href="./themes/default/calendar.css" type="text/css">

<script>
#macro (errorMarkup)
  #if ($errors.exist() )
    <ul>
    #foreach ($e in $errors.all )
      <img height="15" width="15" border="0" src="./themes/default/icon_warning.gif" alt="" vspace="1" hspace="1">$e <br>
    #end
    </ul>
  #end
#end
</script>
</head>
<body bgcolor="#FFFFFF" text="#000000">
<p>&nbsp;</p>
<p><font color="#CC0000">#errorMarkup()</font></p>
<form method="POST" name=forgotForm action="./forgot.do">
<div class=blockHeader>
<table class=title>
<tr><td>&nbsp;TMS: $msg.get("forgot.Title")</td>
<td width="1%">&nbsp;&nbsp;&nbsp;</td></tr>
<tr>
<td class=blockForm colspan=2>
<div class=content>
<table cellspacing="0" cellpadding="0">
    <tbody> 
    <tr> 
      <th colspan=2>$msg.get("forgot.SubTitle")</th>
    </tr>
    <tr class=odd> 
      <td class=leftvalue>$msg.get("loginForm.username.displayname"):</td>
      <td> 
        <input type="text" name="email" value="$!forgotForm.getemail()">
      </td>
    </tr>
    <tr class=odd> 
      <td class=leftvalue>&nbsp;</td>
      <td valign="top"> 
        <input type="SUBMIT" value="$msg.get("common.send")">
        <input type="hidden" name="operation" value="send" >
        <br>
      </td>
    </tr>
    </tbody> 
 </table></div>
 </td></tr></table></div>
  <hr>
</form>

#parse ("/vm/footer.vm")
</body>
</html>
