<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>$systemName</title>
<meta name="robots" content="none">
<meta name="description" content="">
<meta name="keywords" content="">
<script type="text/javascript" src="swc.js"></script>
<script type="text/javascript" src="./javascript/general.js"></script>
<script type="text/JavaScript" src="./javascript/overlib/overlib.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/calendar.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/lang/calendar-en.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/calendar-setup.js"></script>
<link rel="stylesheet" href="./themes/default/calendar.css" type="text/css">

<link rel="stylesheet" href="themes/$userInfo.getTemplate()/stylesheet.css" type="text/css">
</head>
<body >
#parse ("/vm/header.vm")

<table class="content" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="3">$msg.get("common.IndexerStatistics")</th>
  </tr>
  <tr class="odd">
    <td valign="top" class="rightvalue" width="30%">$msg.get("common.totalProjects") :</td>
    <td>$totalProjects</td>
  </tr>
  <tr class="odd">
    <td valign="top" class="rightvalue" width="30%">$msg.get("common.totalTasks") :</td>
    <td>$totalTasks</td>
  </tr>
  <tr class="odd">
    <td valign="top" class="rightvalue" width="30%">$msg.get("common.totalMembers") :</td>
    <td>$totalMembers</td>
  </tr>
  <tr class="odd">
    <td valign="top" class="rightvalue" width="30%">$msg.get("common.totalFiles") :</td>
    <td>$totalFiles</td>
  </tr>
  <tr class="odd">
    <td valign="top" class="rightvalue" width="30%">$msg.get("common.totalTopics") :</td>
    <td>$totalPosts</td>
  </tr>
  <tr class="odd">
    <td valign="top" class="rightvalue" width="30%"><b>$msg.get("common.elapsedTime"): </b></td>
    <td><b>$totalTime&nbsp;ms</b></td>
  </tr>
</table>
<hr />
#parse ("/vm/footer.vm")
</body>
</html>
