<html>
<head>
<title>$msg.get("common.crudApp")</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="./themes/$userInfo.getTemplate()/stylesheet.css" type="text/css">
<SCRIPT src="./themes/swc.js" type=text/javascript></SCRIPT>
<script type="text/javascript" src="./javascript/general.js"></script>
<script type="text/JavaScript" src="./javascript/overlib/overlib.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/calendar.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/lang/calendar-en.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/calendar-setup.js"></script>
<link rel="stylesheet" href="./themes/default/calendar.css" type="text/css">

</head><body bgcolor="#FFFFFF" text="#000000">

<div id="wbPHead" class="blockHeader">
<table class=title>
<tr>
  <td class=toggle width="99%">    
  <a href="javascript:showHideModule('wbP','default')" onMouseOver="javascript:showHideModuleMouseOver('wbP'); return true; " onMouseOut="javascript:window.status=''; return true;"><img name="wbPToggle" border="0" src="./themes/default/module_toggle_open.gif" alt="">&nbsp;
      $msg.get("common.crudApp")
<span class=addition></span></a>
   </td>

   <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=heading_line_icons>   
   <nobr>
<TABLE class=icons cellSpacing=0 cellPadding=0 border=0>
  <TBODY>
  <TR>
    <TD class=commandDesc>
      <DIV class=rel id=clientListtt>
      <DIV class=abs id=clientListtti><IMG height=1 alt=""
      src="./themes/$userInfo.getTemplate()/spacer.gif"  width=350></DIV></DIV>
	  </TD>
    <TD class=commandBtn width=30><A
      onmouseover="var over = MM_getButtonWithName(document.formapplication, 'clientList0'); if (over) over.over(); return true; "
      onmouseout="var out = MM_getButtonWithName(document.formapplication, 'clientList0'); if (out) out.out(); return true; "
      href="javascript:var b = MM_getButtonWithName(document.formapplication, 'clientList0'); if (b) b.click();"><IMG
      height=23 alt=$msg.get("common.addLabel") src="./themes/$userInfo.getTemplate()/btn_add_norm.gif"
      width=24 border=0 name=clientList0></A></TD>

    <TD class=commandBtn width=30><A
      onmouseover="var over = MM_getButtonWithName(document.formapplication, 'clientList1'); if (over) over.over(); return true; "
      onmouseout="var out = MM_getButtonWithName(document.formapplication, 'clientList1'); if (out) out.out(); return true; "
      href="javascript:var b = MM_getButtonWithName(document.formapplication, 'clientList1'); if (b) b.click();"><IMG
      height=23 alt=$msg.get("common.deleteLabel") src="./themes/$userInfo.getTemplate()/btn_remove_norm.gif"   
      width=24 border=0 name=clientList1></A></TD>
    
    
    
<TD class=commandBtn width=30><A
      onmouseover="var over = MM_getButtonWithName(document.formapplication, 'clientList3'); if (over) over.over(); return true; "
      onmouseout="var out = MM_getButtonWithName(document.formapplication, 'clientList3'); if (out) out.out(); return true; "
      href="javascript:var b = MM_getButtonWithName(document.formapplication, 'clientList3'); if (b) b.click();"><IMG
      height=23 alt=$msg.get("common.editLabel") src="./themes/$userInfo.getTemplate()/btn_edit_norm.gif"
      width=24 border=0 name=clientList3></A></TD>
    <TD align=left><IMG height=26 alt=""
      src="./themes/$userInfo.getTemplate()/spacer.gif" width=5></TD>

	  </TR>
	  </TBODY>
	  </TABLE>


   </nobr>
   </td>
  </tr>
 </table>
 </div>

<div name="wbP" id="wbP" style="display:block" class=formBody>

<form name="formapplication" method="post" action="./applications.do">

<table  border="0" cellspacing="0" cellpadding="0" class="listing">
  <tr>
	  <th width="1%" align="center">
        <a href="javascript:MM_toggleSelectedItems(document.formapplication,'$userInfo.getTemplate()')"><img height="13" width="13" border="0" src="./themes/$userInfo.getTemplate()/checkbox_off_16.gif" alt="" vspace="3" hspace="3"></a>
      </th>


<th nowrap >$msg.get("common.Name")</th>
<th nowrap >$msg.get("common.description")</th>

    </tr>
  #set ($row = 1)
  #foreach( $lista in $listaAplicativos)
   #if (($row % 2) == 0)
    #set ($type = "even")
	#set ($color = "#EFEFEF")
   #else
	#set ($type = "odd")
	#set ($color = "#F5F5F5")
   #end

<tr class="$type" onmouseover="this.style.backgroundColor='#FFFEE7'" onmouseout="this.style.backgroundColor='$color'">
	<td align="center">
	<a href="javascript:document.formapplication.id.value='$lista.getId()';MM_toggleItem(document.formapplication, '$lista.getId()', 'clientListcb$row','$userInfo.getTemplate()');">
	<img name="clientListcb$row" border="0" src="./themes/$userInfo.getTemplate()/checkbox_off_16.gif" alt="" vspace="3"></a>
	</td>

<td > $!lista.getName()</td>
<td > $!lista.getDescription()</td>


  </tr>
#set ($row = $row + 1)
#end
</table>

<table cellspacing="0" width="100%" border="0" cellpadding="0">
 <tr>
   <td height="5" colspan="2"><img width="1" height="5" border="0" src="./themes/$userInfo.getTemplate()/spacer.gif" alt="">
   </td>
 </tr>
</table>
  <input type="hidden" name="operation" value="listing">
  <input type="hidden" name="id" value="22">
  <input type="hidden" name="sortOrder" value="$!formapplication.sortOrder">
  <input type="hidden" name="sortColumn" value="$!formapplication.sortColumn">
  <input type="hidden" name="fromPage" value="$!formapplication.fromPage">
  <input type="hidden" name="selected" value="22" >
  <input type="hidden" name="checkedItems" value="" >
</form>
</div>

</body>
<script language="JavaScript">

document.formapplication.buttons = new Array();
document.formapplication.buttons[document.formapplication.buttons.length] = new MMCommandButton('clientList0',document.formapplication,"javascript:sendData('add');",'./themes/$userInfo.getTemplate()/btn_add_norm.gif','./themes/$userInfo.getTemplate()/btn_add_over.gif','./themes/$userInfo.getTemplate()/btn_add_down.gif','./themes/$userInfo.getTemplate()/btn_add_dim.gif',true,false,false,'','$msg.get("common.addLabel")',false,'Confirm report deletion');
document.formapplication.buttons[document.formapplication.buttons.length] = new MMCommandButton('clientList1',document.formapplication,"javascript:sendData('delete');",'./themes/$userInfo.getTemplate()/btn_remove_norm.gif','./themes/$userInfo.getTemplate()/btn_remove_over.gif','./themes/$userInfo.getTemplate()/btn_remove_down.gif','./themes/$userInfo.getTemplate()/btn_remove_dim.gif',false,true,true,'','$msg.get("common.deleteLabel")',false,'Confirm report deletion');

document.formapplication.buttons[document.formapplication.buttons.length] = new MMCommandButton('clientList3',document.formapplication,"javascript:sendData('edit');",'./themes/$userInfo.getTemplate()/btn_edit_norm.gif','./themes/$userInfo.getTemplate()/btn_edit_over.gif','./themes/$userInfo.getTemplate()/btn_edit_down.gif','./themes/$userInfo.getTemplate()/btn_edit_dim.gif',false,true,false,'','$msg.get("common.editLabel")',false,'Confirm report deletion');
MM_updateButtons(document.formapplication, 0);

document.formapplication.checkboxes = new Array();
#set ($row = 1)
#foreach( $lista in $list) 
 document.formapplication.checkboxes[document.formapplication.checkboxes.length] = new MMCheckbox('$lista.getId()',document.formapplication,'clientListcb$row');
#set ($row = $row + 1)   
#end
document.formapplication.tt = 'clientListtt';

function getArrayNumbers(theForm) {
	if (theForm.selectedItems != null)
		theForm.checkedItems.value = theForm.selectedItems.join(',');
}

<!-- Funcion que se encarga de hacer el submit de la pagina de acuerdo a la accion -->
<!-- que ha sido seleccionada. -->
function sendData(tipo) {
	document.formapplication.operation.value = tipo;
	getArrayNumbers(document.formapplication);
	document.formapplication.submit();
}

</script>
</html>
