#set ($activeowner = "")
#set ($activestatus = "")
#set ($activepublished = "")
#set ($activesubject = "")
#set ($activelast_post = "")
#set ($activeproject = "")
#set ($activeposts = "")
#set ($activeid = "")

#set ($imageowner = "")
#set ($imagestatus = "")
#set ($imagepublished = "")
#set ($imagesubject = "")
#set ($imagelast_post = "")
#set ($imageproject = "")
#set ($imageposts = "")
#set ($imageid = "")

#set ($sortowner = "ASC")
#set ($sortstatus = "ASC")
#set ($sortpublished = "ASC")
#set ($sortsubject = "ASC")
#set ($sortlast_post = "ASC")
#set ($sortproject = "ASC")
#set ($sortposts = "ASC")
#set ($sortid = "ASC")


#if ($!homeForm.sortOrderTopics == "DESC")
	#set ($image = "&#160;<img border='0' src='./themes/$userInfo.getTemplate()/icon_sort_za.gif' alt='' width='11' height='11'>")
#else
	#set ($image = "&#160;<img border='0' src='./themes/$userInfo.getTemplate()/icon_sort_az.gif' alt='' width='11' height='11'>")
#end

#if ($!homeForm.sortColumnTopics == "last_post" || $!homeForm.sortColumnTopics == "")
	#set ($activelast_post = "class='active'")
	#set ($imagelast_post = $image)
	#set ($sortlast_post = $!homeForm.sortOrderTopics)
#elseif ($!homeForm.sortColumnTopics == "owner")
	#set ($activeowner = "class='active'")
	#set ($imageowner = $image)
	#set ($sortowner = $!homeForm.sortOrderTopics)
#elseif ($!homeForm.sortColumnTopics == "status")
	#set ($activestatus = "class='active'")
	#set ($imagestatus = $image)
	#set ($sortstatus = $!homeForm.sortOrderTopics)
#elseif ($!homeForm.sortColumnTopics == "published")
	#set ($activepublished = "class='active'")
	#set ($imagepublished = $image)
	#set ($sortpublished = $!homeForm.sortOrderTopics)
#elseif ($!homeForm.sortColumnTopics == "subject")
	#set ($activesubject = "class='active'")
	#set ($imagesubject = $image)
	#set ($sortsubject = $!homeForm.sortOrderTopics)
#elseif ($!homeForm.sortColumnTopics == "project")
	#set ($activeproject = "class='active'")
	#set ($imageproject = $image)
	#set ($sortproject = $!homeForm.sortOrderTopics)
#elseif ($!homeForm.sortColumnTopics == "posts")
	#set ($activeposts = "class='active'")
	#set ($imageposts = $image)
	#set ($sortposts = $!homeForm.sortOrderTopics)
#elseif ($!homeForm.sortColumnTopics == "id")
	#set ($activeid = "class='active'")
	#set ($imageid = $image)
	#set ($sortid = $!homeForm.sortOrderTopics)
#end
<div id="wbP16Head" class="blockHeader">
<table class=title>
<tr>
  <td class=toggle width="99%">    
  <a href="javascript:showHideModule('wbP16','default')" onMouseOver="javascript:showHideModuleMouseOver('wbP16'); return true; " onMouseOut="javascript:window.status=''; return true;"><img name="wbP16Toggle" border="0" src="./themes/default/module_toggle_open.gif" alt="">&nbsp;
$msg.get("common.myTopics.name")
<span class=addition></span></a>
   </td>

   <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=heading_line_icons>   
   <nobr>

<TABLE class=icons cellSpacing=0 cellPadding=0 border=0>
  <TBODY>
  <TR>
    <TD class=commandDesc>
      <DIV class=rel id=topicsListtt style="white-space:nowrap;">
      <DIV class=abs id=topicsListtti><IMG height=1 alt=""
      src="./themes/$userInfo.getTemplate()/spacer.gif"  width=350></DIV></DIV>
	  </TD>
    <TD class=commandBtn width=30><A
      onmouseover="var over = MM_getButtonWithName(document.formtopics, 'topicsList1'); if (over) over.over(); return true; "
      onmouseout="var out = MM_getButtonWithName(document.formtopics, 'topicsList1'); if (out) out.out(); return true; "
      href="javascript:var b = MM_getButtonWithName(document.formtopics, 'topicsList1'); if (b) b.click();"><IMG
      height=23 alt='$msg.get("common.deleteLabel")' src="./themes/$userInfo.getTemplate()/btn_remove_norm.gif"
      width=24 border=0 name=topicsList1></A></TD>
    <TD class=commandBtn width=30><A
      onmouseover="var over = MM_getButtonWithName(document.formtopics, 'topicsList3'); if (over) over.over(); return true; "
      onmouseout="var out = MM_getButtonWithName(document.formtopics, 'topicsList3'); if (out) out.out(); return true; "
      href="javascript:var b = MM_getButtonWithName(document.formtopics, 'topicsList3'); if (b) b.click();"><IMG
      height=23 alt='$msg.get("common.closeLabel")' src="./themes/$userInfo.getTemplate()/btn_lock_norm.gif" width=24
      border=0 name=topicsList3></A></TD>
    <TD class=commandBtn width=30><A
      onmouseover="var over = MM_getButtonWithName(document.formtopics, 'topicsList4'); if (over) over.over(); return true; "
      onmouseout="var out = MM_getButtonWithName(document.formtopics, 'topicsList4'); if (out) out.out(); return true; "
      href="javascript:var b = MM_getButtonWithName(document.formtopics, 'topicsList4'); if (b) b.click();"><IMG
      height=23 alt='$msg.get("common.addToSiteLabel")' src="./themes/$userInfo.getTemplate()/btn_add_projectsite_norm.gif" width=24
      border=0 name=topicsList4></A></TD>
    <TD class=commandBtn width=30><A
      onmouseover="var over = MM_getButtonWithName(document.formtopics, 'topicsList5'); if (over) over.over(); return true; "
      onmouseout="var out = MM_getButtonWithName(document.formtopics, 'topicsList5'); if (out) out.out(); return true; "
      href="javascript:var b = MM_getButtonWithName(document.formtopics, 'topicsList5'); if (b) b.click();"><IMG
      height=23 alt='$msg.get("common.removeFromSiteLabel")' src="./themes/$userInfo.getTemplate()/btn_remove_projectsite_norm.gif" width=24
      border=0 name=topicsList5></A></TD>

    <TD class=commandBtn width=30><A
      onmouseover="var over = MM_getButtonWithName(document.formtopics, 'topicsList2'); if (over) over.over(); return true; "
      onmouseout="var out = MM_getButtonWithName(document.formtopics, 'topicsList2'); if (out) out.out(); return true; "
      href="javascript:var b = MM_getButtonWithName(document.formtopics, 'topicsList2'); if (b) b.click();"><IMG
      height=23 alt=Ver src="./themes/$userInfo.getTemplate()/btn_info_norm.gif" width=24
      border=0 name=topicsList2></A></TD>
    <TD align=left><IMG height=26 alt=""
      src="./themes/$userInfo.getTemplate()/spacer.gif" width=5></TD>

	  </TR>
	  </TBODY>
	  </TABLE>

   </nobr>
   </td>
  </tr>
 </table>
 </div>

<div name="wbP16" id="wbP16" style="display:block" class=formBody>

<form name="formtopics" method="post" action="./topics.do">

<table  border="0" cellspacing="0" cellpadding="0" class="listing">
  <tr>
	  <th width="1%" align="center">
        <a href="javascript:MM_toggleSelectedItems(document.formtopics,'$userInfo.getTemplate()')"><img height="13" width="13" border="0" src="./themes/$userInfo.getTemplate()/checkbox_off_16.gif" alt="" vspace="3" hspace="3"></a>
      </th>
<th nowrap $activeid><a href="javascript:document.homeForm.source.value='topics';document.homeForm.sortColumnTopics.value='id';document.homeForm.sortOrderTopics.value='$sortid';document.homeForm.operation.value = 'sort';document.homeForm.submit();" onMouseOver="javascript:window.status='Ordenar por Id'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.Id")</a>$imageid</th>
<th nowrap $activesubject><a href="javascript:document.homeForm.source.value='topics';document.homeForm.sortColumnTopics.value='subject';document.homeForm.sortOrderTopics.value='$sortsubject';document.homeForm.operation.value = 'sort';document.homeForm.submit();" onMouseOver="javascript:window.status='Ordenar por subject'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.Subject")</a>$imagesubject</th>
<th nowrap $activeowner><a href="javascript:document.homeForm.source.value='topics';document.homeForm.sortColumnTopics.value='owner';document.homeForm.sortOrderTopics.value='$sortowner';document.homeForm.operation.value = 'sort';document.homeForm.submit();" onMouseOver="javascript:window.status='Ordenar por owner'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.Owner")</a>$imageowner</th>
<th nowrap $activeposts><a href="javascript:document.homeForm.source.value='topics';document.homeForm.sortColumnTopics.value='posts';document.homeForm.sortOrderTopics.value='$sortposts';document.homeForm.operation.value = 'sort';document.homeForm.submit();" onMouseOver="javascript:window.status='Ordenar por Posts'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.Post")</a>$imageposts</th>
<th nowrap $activelast_post><a href="javascript:document.homeForm.source.value='topics';document.homeForm.sortColumnTopics.value='last_post';document.homeForm.sortOrderTopics.value='$sortlast_post';document.homeForm.operation.value = 'sort';document.homeForm.submit();" onMouseOver="javascript:window.status='Ordenar por last_post'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.LastPost")</a>$imagelast_post</th>
<th nowrap $activestatus><a href="javascript:document.homeForm.source.value='topics';document.homeForm.sortColumnTopics.value='status';document.homeForm.sortOrderTopics.value='$sortstatus';document.homeForm.operation.value = 'sort';document.homeForm.submit();" onMouseOver="javascript:window.status='Ordenar por status'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.Status")</a>$imagestatus</th>
<th nowrap $activeproject><a href="javascript:document.homeForm.source.value='topics';document.homeForm.sortColumnTopics.value='project';document.homeForm.sortOrderTopics.value='$sortproject';document.homeForm.operation.value = 'sort';document.homeForm.submit();" onMouseOver="javascript:window.status='Ordenar por project'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.Project")</a>$imageproject</th>
<th nowrap $activepublished><a href="javascript:document.homeForm.source.value='topics';document.homeForm.sortColumnTopics.value='published';document.homeForm.sortOrderTopics.value='$sortpublished';document.homeForm.operation.value = 'sort';document.homeForm.submit();" onMouseOver="javascript:window.status='Ordenar por published'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.Published")</a>$imagepublished</th>

    </tr>
  #set ($row = 1)
  #foreach( $lista in $listTopics)
   #if (($row % 2) == 0)
    #set ($type = "even")
	#set ($color = "#EFEFEF")
   #else
	#set ($type = "odd")
	#set ($color = "#F5F5F5")
   #end
<tr class="$type" onmouseover="this.style.backgroundColor='#FFFEE7'" onmouseout="this.style.backgroundColor='$color'">

<td align="center">
	<a href="javascript:document.formtopics.id.value='$lista.getid()';MM_toggleItem(document.formtopics, '$lista.getid()', 'topicsListcb$row','$userInfo.getTemplate()');">
	<img name="topicsListcb$row" border="0" src="./themes/$userInfo.getTemplate()/checkbox_off_16.gif" alt="" vspace="3"></a>
	</td>1
<td><a href="javascript:document.formtopics.id.value='$lista.getid()';sendDataTopics('view');"> $lista.getid()</a></td>
<td><a href="javascript:document.formtopics.id.value='$lista.getid()';sendDataTopics('view');"> $lista.getsubject()</a></td>

<td> <a href="mailto:$lista.getparentOwner().getemail_work()"> $!lista.getparentOwner().getlogin()</a></td>
<td> $lista.getdetailPost().size()</td>
<td> $lista.getFormattedLastPost()</td>
#if ($lista.getstatus() == "1")
	#set ($label = $msg.get("common.open"))
#else
	#set ($label = $msg.get("common.closed"))
#end

<td> $label</td>


<td><a href="./projects.do?operation=view&id=$lista.getproject()" > $lista.getproject()</a></td>
<td> #if ($lista.getpublished() == '0') $msg.get("common.no") #else $msg.get("common.yes") #end </td>

  </tr>
#set ($row = $row + 1)
#end
</table>
<table cellspacing="0" width="100%" border="0" cellpadding="0">
 <tr>
   <td nowrap class="footerCell">&#160;&#160;&#160;&#160;

#foreach( $lista in $listPagesTopics)
	#if ($lista.intValue() == $!homeForm.pageTopics)
		<b>$lista.intValue()</b>&#160;
	#else
<a href="javascript:document.homeForm.source.value='topics';document.homeForm.operation.value='paging';document.homeForm.pageTopics.value='$lista.intValue()';document.homeForm.submit();">$lista.intValue()</a>&#160;
	#end
#end

   </td>
 </tr>
 <tr>
   <td height="5" colspan="2"><img width="1" height="5" border="0" src="./themes/$userInfo.getTemplate()/spacer.gif" alt="">
   </td>
 </tr>
</table>

  <input type="hidden" name="operation" value="listing">
  <input type="hidden" name="id" value="22">
  <input type="hidden" name="checkedItems" value="" >
  <input type="hidden" name="fromPage" value="home" >
</form>
</div>
<script language="JavaScript">


document.formtopics.buttons = new Array();
document.formtopics.buttons[document.formtopics.buttons.length] = new MMCommandButton('topicsList1',document.formtopics,"javascript:sendDataTopics('delete');",'./themes/$userInfo.getTemplate()/btn_remove_norm.gif','./themes/$userInfo.getTemplate()/btn_remove_over.gif','./themes/$userInfo.getTemplate()/btn_remove_down.gif','./themes/$userInfo.getTemplate()/btn_remove_dim.gif',false,true,true,'','$msg.get("common.deleteLabel")',false,'Confirm report deletion');
document.formtopics.buttons[document.formtopics.buttons.length] = new MMCommandButton('topicsList2',document.formtopics,"javascript:sendDataTopics('view');",'./themes/$userInfo.getTemplate()/btn_info_norm.gif','./themes/$userInfo.getTemplate()/btn_info_over.gif','./themes/$userInfo.getTemplate()/btn_info_down.gif','./themes/$userInfo.getTemplate()/btn_info_dim.gif',false,true,true,'','$msg.get("common.viewLabel")',false,'Confirm report deletion');
document.formtopics.buttons[document.formtopics.buttons.length] = new MMCommandButton('topicsList3',document.formtopics,"javascript:sendDataTopics('close');",'./themes/$userInfo.getTemplate()/btn_lock_norm.gif','./themes/$userInfo.getTemplate()/btn_lock_over.gif','./themes/$userInfo.getTemplate()/btn_lock_down.gif','./themes/$userInfo.getTemplate()/btn_lock_dim.gif',false,true,true,'','$msg.get("common.closeLabel")',false,'Confirm report deletion');
document.formtopics.buttons[document.formtopics.buttons.length] = new MMCommandButton('topicsList4',document.formtopics,"javascript:sendDataTopics('addToSite');",'./themes/$userInfo.getTemplate()/btn_add_projectsite_norm.gif','./themes/$userInfo.getTemplate()/btn_add_projectsite_over.gif','./themes/$userInfo.getTemplate()/btn_add_projectsite_down.gif','./themes/$userInfo.getTemplate()/btn_add_projectsite_dim.gif',false,true,true,'','$msg.get("common.addToSiteLabel")',false,'Confirm report deletion');
document.formtopics.buttons[document.formtopics.buttons.length] = new MMCommandButton('topicsList5',document.formtopics,"javascript:sendDataTopics('removeFromSite');",'./themes/$userInfo.getTemplate()/btn_remove_projectsite_norm.gif','./themes/$userInfo.getTemplate()/btn_remove_projectsite_over.gif','./themes/$userInfo.getTemplate()/btn_remove_projectsite_down.gif','./themes/$userInfo.getTemplate()/btn_remove_projectsite_dim.gif',false,true,true,'','$msg.get("common.removeFromSiteLabel")',false,'Confirm report deletion');
MM_updateButtons(document.formtopics, 0);

document.formtopics.checkboxes = new Array();
#set ($row = 1)
#foreach( $lista in $listTopics)
 document.formtopics.checkboxes[document.formtopics.checkboxes.length] = new MMCheckbox('$lista.getid()',document.formtopics,'topicsListcb$row');
#set ($row = $row + 1)
#end
document.formtopics.tt = 'topicsListtt';


<!-- Funcion que se encarga de hacer el submit de la pagina de acuerdo a la accion -->
<!-- que ha sido seleccionada. -->
function sendDataTopics(tipo) {
	document.formtopics.operation.value = tipo;
	getArrayNumbers(document.formtopics);
	document.formtopics.submit();
}
</script>
