<html>
<head>
<title>Listing Files</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="./themes/$userInfo.getTemplate()/stylesheet.css" type="text/css">
<script type="text/javascript" src="./javascript/general.js"></script>
<script type="text/JavaScript" src="./javascript/overlib/overlib.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/calendar.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/lang/calendar-en.js"></script>
<script type="text/JavaScript" src="./javascript/jscalendar/calendar-setup.js"></script>
<link rel="stylesheet" href="./themes/default/calendar.css" type="text/css">

<SCRIPT src="./themes/swc.js" type=text/javascript></SCRIPT>
<script language="JavaScript">
function getArrayNumbers(theForm) {
	if (theForm.selectedItems != null)
		theForm.checkedItems.value = theForm.selectedItems.join(',');

}
</script>

</head><body bgcolor="#FFFFFF" text="#000000">
#parse ("/vm/header.vm")

#set ($activename = "")
#set ($activepublished = "")
#set ($activeextension = "")
#set ($activeupload = "")

#set ($imagename = "")
#set ($imagepublished = "")
#set ($imageextension = "")
#set ($imageupload = "")

#set ($sortname = "ASC")
#set ($sortpublished = "ASC")
#set ($sortextension = "ASC")
#set ($sortupload = "ASC")


#if ($!filesForm.sortOrder == "DESC")
	#set ($image = "&#160;<img border='0' src='./themes/$userInfo.getTemplate()/icon_sort_za.gif' alt='' width='11' height='11'>")
#else
	#set ($image = "&#160;<img border='0' src='./themes/$userInfo.getTemplate()/icon_sort_az.gif' alt='' width='11' height='11'>")
#end

#if ($!filesForm.sortColumn == "name" || $!filesForm.sortColumn == "")
	#set ($activename = "class='active'")
	#set ($imagename = $image)
	#set ($sortname = $!filesForm.sortOrder)
#elseif ($!filesForm.sortColumn == "published")
	#set ($activepublished = "class='active'")
	#set ($imagepublished = $image)
	#set ($sortpublished = $!filesForm.sortOrder)
#elseif ($!filesForm.sortColumn == "type")
	#set ($activeextension = "class='active'")
	#set ($imageextension = $image)
	#set ($sortextension = $!filesForm.sortOrder)
#elseif ($!filesForm.sortColumn == "upload")
	#set ($activeupload = "class='active'")
	#set ($imageupload = $image)
	#set ($sortupload = $!filesForm.sortOrder)
#end

<div id="wbPHead" class="blockHeader">
<table class=title>
<tr>
  <td class=toggle width="99%">    
  <a href="javascript:showHideModule('wbP','default')" onMouseOver="javascript:showHideModuleMouseOver('wbP'); return true; " onMouseOut="javascript:window.status=''; return true;"><img name="wbPToggle" border="0" src="./themes/default/module_toggle_open.gif" alt="">&nbsp;
     $msg.get("common.LinkedContent.name")
<span class=addition></span></a>
   </td>

   <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td class=heading_line_icons>   
   <nobr>


   </nobr>
   </td>
  </tr>
 </table>
 </div>

<div name="wbP" id="wbP" style="display:block" class=formBody>

<form name="formfiles" method="post" action="./files.do">

<table  border="0" cellspacing="0" cellpadding="0" class="listing">
  <tr>
	  <th width="1%" align="center">
        <a href="javascript:MM_toggleSelectedItems(document.formfiles,'$userInfo.getTemplate()')"><img height="13" width="13" border="0" src="./themes/$userInfo.getTemplate()/checkbox_off_16.gif" alt="" vspace="3" hspace="3"></a>
      </th>
<th nowrap $activeextension >$msg.get("common.Type")</a>$imageextension</th>
<th nowrap $activename >$msg.get("common.Name")$imagename</th>
<th>$msg.get("common.Comments")</th>
<th nowrap $activeupload >$msg.get("common.Date")$imageupload</th>
<th nowrap $activepublished >$msg.get("common.Published")$imagepublished</th>
    </tr>
  #set ($row = 1)
  #foreach( $lista in $listFiles)
   #if (($row % 2) == 0)
    #set ($type = "even")
	#set ($color = "#EFEFEF")
   #else
	#set ($type = "odd")
	#set ($color = "#F5F5F5")
   #end

<tr class="$type" onmouseover="this.style.backgroundColor='#DEE7EB'" onmouseout="this.style.backgroundColor='$color'">
	<td align="center">
	<a href="javascript:document.formfiles.id.value='$lista.getid()';MM_toggleItem(document.formfiles, '$lista.getid()', 'clientFilescb$row','$userInfo.getTemplate()');">
	<img name="clientFilescb$row" border="0" src="./themes/$userInfo.getTemplate()/checkbox_off_16.gif" alt="" vspace="3"></a>
	</td>
      <td ><a href="javascript:document.formfiles.id.value='$lista.getid()';sendDataFiles('view');"><img src="./images/$msg.get("common.filetype.$lista.getPrefixType()")" border="no"></a></td>
<td ><a href="javascript:document.formfiles.id.value='$lista.getid()';sendDataFiles('view');"> $lista.getname()</a></td> 
<td > $lista.getcomments()</td>
<td > $lista.getupload()</td>

#if ($lista.getpublished() == "1")
	#set ($label = $msg.get("common.yes"))
#else
	#set ($label = $msg.get("common.no"))
#end	
<td >$label</td>


  </tr>
#set ($row = $row + 1)
#end
</table>
  <input type="hidden" name="operation" value="listing">
  <input type="hidden" name="id" value="22">
  <input type="hidden" name="sortOrder" value="$!filesForm.sortOrder">
  <input type="hidden" name="sortColumn" value="$!filesForm.sortColumn">
  <input type="hidden" name="fromPage" value="viewProject">
  <input type="hidden" name="project" value="$filesForm.project">
  <input type="hidden" name="checkedItems" value="22" >
</form>
</div>
</body>
<script language="JavaScript">

document.formfiles.buttons = new Array();
document.formfiles.buttons[document.formfiles.buttons.length] = new MMCommandButton('clientFiles0',document.formfiles,"javascript:sendDataFiles('add');",'./themes/$userInfo.getTemplate()/btn_add_norm.gif','./themes/$userInfo.getTemplate()/btn_add_over.gif','./themes/$userInfo.getTemplate()/btn_add_down.gif','./themes/$userInfo.getTemplate()/btn_add_dim.gif',true,false,false,'','$msg.get("common.addLabel")',false,'Confirm report deletion');
document.formfiles.buttons[document.formfiles.buttons.length] = new MMCommandButton('clientFiles1',document.formfiles,"javascript:sendDataFiles('delete');",'./themes/$userInfo.getTemplate()/btn_remove_norm.gif','./themes/$userInfo.getTemplate()/btn_remove_over.gif','./themes/$userInfo.getTemplate()/btn_remove_down.gif','./themes/$userInfo.getTemplate()/btn_remove_dim.gif',false,true,true,'','$msg.get("common.deleteLabel")',false,'Confirm report deletion');
document.formfiles.buttons[document.formfiles.buttons.length] = new MMCommandButton('clientFiles2',document.formfiles,"javascript:sendDataFiles('view');",'./themes/$userInfo.getTemplate()/btn_info_norm.gif','./themes/$userInfo.getTemplate()/btn_info_over.gif','./themes/$userInfo.getTemplate()/btn_info_down.gif','./themes/$userInfo.getTemplate()/btn_info_dim.gif',false,true,false,'','$msg.get("common.viewLabel")',false,'Confirm report deletion');
document.formfiles.buttons[document.formfiles.buttons.length] = new MMCommandButton('clientFiles3',document.formfiles,"javascript:sendDataFiles('edit');",'./themes/$userInfo.getTemplate()/btn_edit_norm.gif','./themes/$userInfo.getTemplate()/btn_edit_over.gif','./themes/$userInfo.getTemplate()/btn_edit_down.gif','./themes/$userInfo.getTemplate()/btn_edit_dim.gif',false,true,false,'','$msg.get("common.editLabel")',false,'Confirm report deletion');
document.formfiles.buttons[document.formfiles.buttons.length] = new MMCommandButton('clientFiles4',document.formfiles,"javascript:sendDataFiles('addToSite');",'./themes/$userInfo.getTemplate()/btn_add_projectsite_norm.gif','./themes/$userInfo.getTemplate()/btn_add_projectsite_over.gif','./themes/$userInfo.getTemplate()/btn_add_projectsite_down.gif','./themes/$userInfo.getTemplate()/btn_add_projectsite_dim.gif',false,true,true,'','$msg.get("common.addToSiteLabel")',false,'Confirm report deletion');
document.formfiles.buttons[document.formfiles.buttons.length] = new MMCommandButton('clientFiles5',document.formfiles,"javascript:sendDataFiles('removeFromSite');",'./themes/$userInfo.getTemplate()/btn_remove_projectsite_norm.gif','./themes/$userInfo.getTemplate()/btn_remove_projectsite_over.gif','./themes/$userInfo.getTemplate()/btn_remove_projectsite_down.gif','./themes/$userInfo.getTemplate()/btn_remove_projectsite_dim.gif',false,true,true,'','$msg.get("common.removeFromSiteLabel")',false,'Confirm report deletion');

MM_updateButtons(document.formfiles, 0);

document.formfiles.checkboxes = new Array();
#set ($row = 1)
#foreach( $lista in $listFiles)
 document.formfiles.checkboxes[document.formfiles.checkboxes.length] = new MMCheckbox('$lista.getid()',document.formfiles,'clientFilescb$row');
#set ($row = $row + 1)
#end
document.formfiles.tt = 'clientFilestt';


<!-- Funcion que se encarga de hacer el submit de la pagina de acuerdo a la accion -->
<!-- que ha sido seleccionada. -->
function sendDataFiles(tipo) {
	document.formfiles.operation.value = tipo;
	getArrayNumbers(document.formfiles);
	document.formfiles.submit();
}
</script>


#parse ("/vm/footer.vm")
</body>
</html>
