body{
scrollbar-3dlight-color:#54678D;
scrollbar-arrow-color:#54678D;
scrollbar-track-color:#D5E1F3;
scrollbar-darkshadow-color:#54678D;
scrollbar-face-color:#D5E1F3;
scrollbar-highlight-color:#D5E1F3;
scrollbar-shadow-color:#D5E1F3;

}