#parse("/portal/vm/header.vm")

#set ($activename = "")
#set ($activeextension = "")
#set ($activeupload = "")

#set ($imagename = "")
#set ($imageextension = "")
#set ($imageupload = "")

#set ($sortname = "ASC")
#set ($sortextension = "ASC")
#set ($sortupload = "ASC")


#if ($!filesForm.sortOrder == "DESC")
	#set ($image = "&#160;<img border='0' src='./themes/$userInfo.getTemplate()/icon_sort_za.gif' alt='' width='11' height='11'>")
#else
	#set ($image = "&#160;<img border='0' src='./themes/$userInfo.getTemplate()/icon_sort_az.gif' alt='' width='11' height='11'>")
#end

#if ($!filesForm.sortColumn == "name" || $!filesForm.sortColumn == "")
	#set ($activename = "class='active'")
	#set ($imagename = $image)
	#set ($sortname = $!filesForm.sortOrder)
#elseif ($!filesForm.sortColumn == "type")
	#set ($activeextension = "class='active'")
	#set ($imageextension = $image)
	#set ($sortextension = $!filesForm.sortOrder)
#elseif ($!filesForm.sortColumn == "upload")
	#set ($activeupload = "class='active'")
	#set ($imageupload = $image)
	#set ($sortupload = $!filesForm.sortOrder)
#end

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
      <div align="left"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><b><font size="3"><h1 class="heading">$msg.get("common.Documents")</h1></font></b></font></div>
  </tr>
  <tr>
<form name="formfiles" method="post" action="./portalFiles.do">

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listing">
  <tr>
<th nowrap $activeextension ><a href="javascript:document.formfiles.sortColumn.value='type';document.formfiles.sortOrder.value='$sortextension';document.formfiles.operation.value = 'sort';document.formfiles.submit();" onMouseOver="javascript:window.status='Ordenar por extension'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.Type")</a>$imageextension</th>
<th nowrap $activename ><a href="javascript:document.formfiles.sortColumn.value='name';document.formfiles.sortOrder.value='$sortname';document.formfiles.operation.value = 'sort';document.formfiles.submit();" onMouseOver="javascript:window.status='Ordenar por name'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.Name")</a>$imagename</th>
<th nowrap $activeupload ><a href="javascript:document.formfiles.sortColumn.value='upload';document.formfiles.sortOrder.value='$sortupload';document.formfiles.operation.value = 'sort';document.formfiles.submit();" onMouseOver="javascript:window.status='Ordenar por upload'; return true;" onMouseOut="javascript:window.status=''; return true">$msg.get("common.Date")</a>$imageupload</th>
<th nowrap $activeid ><a>$msg.get("common.Id")</a></th>
<th nowrap $activename2 ><a> $msg.get("common.Name")</a></th>


</tr>
  #set ($row = 1)
  #foreach( $lista in $listFiles)
   #if (($row % 2) == 0)
    #set ($type = "even")
	#set ($color = "#EFEFEF")
   #else
	#set ($type = "odd")
	#set ($color = "#F5F5F5")
   #end

<tr class="$type" onmouseover="this.style.backgroundColor='#DEE7EB'" onmouseout="this.style.backgroundColor='$color'">
<td ><img src="./images/$msg.get("common.filetype.$lista.getPrefixType()")" border="no"></td>
<td ><a href="./download?id=$lista.id&pth=$downloadPath"> $lista.getname()</a></td>
<td > $lista.getFormatedUploadDate()</td>

#if ($lista.task > 0)
	#set ($id = $lista.task)
#else
	#set ($id = $lista.topic)
#end

<td> $id </td>
#if ($lista.task > 0)
	#set ($id = $lista.getTaskName())
#else
	#set ($id = $lista.getTopicName())
#end


#if ($lista.task > 0)
<td> <a href="./portalTasks.do?operation=viewGroup&id=$lista.task&project=$projectInfo.getid()"> $id </a> </td>
#end

#if ($lista.topic > 0)
<td> <a href="./portalTopics.do?operation=view&id=$lista.topic&project=$projectInfo.getid()"> $id </a> </td>
#end

#if ($lista.task > 0)
	#set ($label = $msg.get("common.Tasks"))
#else
	#set ($label = $msg.get("common.Topics.name"))
#end
  </tr>
#set ($row = $row + 1)
#end
</table>
  <br>
  <hr>
  <input type="hidden" name="operation" value="listing">
  <input type="hidden" name="id" value="22">
  <input type="hidden" name="sortOrder" value="$!filesForm.sortOrder">
  <input type="hidden" name="sortColumn" value="$!filesForm.sortColumn">
  <input type="hidden" name="project" value="$filesForm.project">
  <input type="hidden" name="task" value="$filesForm.task">
</form>


</table>
#parse ("/vm/footer.vm")
</body>
</html>
